body {
  font-size: 16px;
  color: #fff;
  background-color: #87CEEB		;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #900C3F;
  border-radius: 0;
  border: 0;
}


.navbar-brand {
  padding-top: 25px;
  padding-bottom: 50px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #FFFFFF;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
  text-decoration: none;
}
#nav-list {
    background-color: #CD5C5C
}
#nav-list a{
    color: black;
    font-size: 1.2em;
    }
#home{
	padding-bottom: 30px;
	padding-top: 10px;
}

h2 {
	color: black;
	font-weight: bolder;
	font-family: 'Oxygen', sans-serif;

}
h4 {
	padding-top: 20px;
	font-weight: bolder;
}

.back {
	background-color: #CD5C5C;
	box-shadow: 5 5px 5px 5px #000000;
	border: 0px;
 	margin : 20px;
 	padding: 10px;
}
p {
		margin : 20px;
}
